<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Регистрация</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" href="http://vladmaxi.net/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://vladmaxi.net/favicon.ico" type="image/x-icon">
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

    <form method="post" action="{ {url_for('get_sendMailForm', recipient=True)} }" class="login">

        <h1 style="text-decoration: underline">{{ login_info }}</h1>
        <br>

        <p>
            <label>E-mail:</label>
            <input type="text" id="e_mail" name="e_mail" required>
        </p>

        <br>
        <p>
            <button type="submit">Получить новый пароль</button>
        </p>    


    </form>

</body>    